<html>
 <head>
  <title>
   Tag Example
  </title>
 </head>
 <body>
  <p>
   hello1
  </p>
  <p>
   hello2
  </p>
  <div th:if="${count != null}">
   <p>
    count is not null
   </p>
  </div>
  <div th:if="${count != null}">
   <p>
    count2 is not null
   </p>
  </div>
  <div th:each="i : ${numbers.sequence(1, 5)}">
   Item1
   <c:out value="${i}">
   </c:out>
   <p>
   </p>
  </div>
  <div th:each="i : ${numbers.sequence(1, 5)}">
   Item2
   <c:out value="${i}">
   </c:out>
   <p>
   </p>
  </div>
  <c:foreach>
   Item3
  </c:foreach>
  <div th:each="item : ${list}">
   Item4
   <c:out value="${item}">
   </c:out>
  </div>
  <div th:if="${count != null}">
   <p>
    count3 is not null
   </p>
  </div>
 </body>
</html>